@mixin guideline-section() {
  @extend .uk-margin-large-bottom;
  @extend .uk-padding-large;
  @extend .uk-padding-remove-horizontal;
  @extend .uk-padding-remove-top;

  border-bottom: 1px solid #e5e5e5;
}

.api {
  &-navbar {
    &-container {
      @extend .uk-container;
      @extend .uk-container-small;
      @extend .uk-padding-large;

      padding-top: 0;
    }

    &-filter-rules,
    &-filter-review-type {
      padding-right: 0;
    }

    background: #fff;
    padding: 12px 0;
  }

  &-content {
    @extend .uk-section;
    margin-left: 240px;
    padding-top: 0;

    @media (min-width: 1200px) {
      margin-left: 320px;
    }

    table {
      @extend .uk-table;
      @extend .uk-table-small;
      @extend .uk-table-divider;
      @extend .uk-table-striped;
    }

    a[target="_blank"] {
      color: $global-link-color !important;

      svg {
        margin-left: 2px;
        margin-right: 1px;
      }
    }

    pre {
      border: none;
      border-radius: 0;
      padding: 0;
    }

    .hljs {
      padding: 1.5em;
    }

    .uk-accordion-title:before {
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' data-svg='chevron-down'%3E%3Cpolyline fill='none' stroke='%23000' stroke-width='1.03' points='16 7 10 13 4 7'%3E%3C/polyline%3E%3C/svg%3E");
    }

    .uk-open > .uk-accordion-title:before {
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' data-svg='chevron-up'%3E%3Cpolyline fill='none' stroke='%23000' stroke-width='1.03' points='4 13 10 7 16 13'%3E%3C/polyline%3E%3C/svg%3E");
    }

    .api-rule-filter {
      &-must {
        .api-docs-index,
        .api-docs:not(.js_rule-must),
        .js_rule-should,
        .js_rule-may {
          display: none;
        }
      }

      &-should {
        .api-docs-index,
        .api-docs:not(.js_rule-should),
        .js_rule-must,
        .js_rule-may {
          display: none;
        }
      }

      &-may {
        .api-docs-index,
        .api-docs:not(.js_rule-may),
        .js_rule-must,
        .js_rule-should {
          display: none;
        }
      }
    }

    .api-review-filter {
      &-automatic {
        .api-docs-index,
        .api-docs:not(.js_rule-review-automatic),
        .js_rule-review-partial,
        .js_rule-review-manual {
          display: none;
        }
      }

      &-partial {
        .api-docs-index,
        .api-docs:not(.js_rule-review-partial),
        .js_rule-review-automatic,
        .js_rule-review-manual {
          display: none;
        }
      }

      &-manual {
        .api-docs-index,
        .api-docs:not(.js_rule-review-manual),
        .js_rule-review-automatic,
        .js_rule-review-partial {
          display: none;
        }
      }
    }

    .api-applies-filter {
      &-server {
        .api-docs-index,
        .api-docs:not(.js_rule-applies-server),
        .js_rule-applies-client {
          display: none;
        }
      }

      &-client {
        .api-docs-index,
        .api-docs:not(.js_rule-applies-client),
        .js_rule-applies-server {
          display: none;
        }
      }
    }
  }

  &-accordion {
    margin-top: 40px;

    &-title {
      background-color: #f8f8f8;
      font-family: $base-heading-font-family;
      font-size: 1rem;
      padding: 12px 18px;
      text-transform: uppercase;
    }

    > :nth-child(n + 2) {
      margin-top: 4px;
    }

    li:last-child,
    .uk-open {
      .api-accordion-title {
        border: none;
      }
    }

    li:last-child.uk-open .api-accordion-content {
      border-bottom: none;
      padding-bottom: 0;
    }

    &-content {
      margin-bottom: 20px;
      padding: 18px;

      & > :last-child {
        margin-bottom: 0 !important;
      }
    }
  }

  &-label {
    @extend .uk-label;
    margin-right: 5px;
    margin-top: -3px;

    &--success {
      @extend .uk-label-success;
      background-color: $highlight-green;
    }

    &--warning {
      @extend .uk-label-warning;
      background-color: $highlight-yellow;
    }

    &--danger {
      @extend .uk-label-danger;
      background-color: $highlight-red;
    }
  }

  &-docs-level-0,
  &-docs-level-1,
  &-docs-level-2 {
    > .api-docs-index,
    > .api-docs {
      @include guideline-section();

      > :last-child {
        margin-bottom: 0 !important;
      }
    }
  }

  &-container {
    @extend .uk-container;
    @extend .uk-container-small;
    @extend .uk-padding-large;

    padding-top: 0;
  }

  &-headline {
    @extend .uk-margin-medium-bottom;
    padding-right: 90px;
    position: relative;

    &::before {
      content: "";
      display: block;
      height: 110px;
      margin-top: -110px;
      visibility: hidden;
    }

    &__anchor {
      font-size: 0.85em;
      float: left;
      margin-left: -1em;
      margin-top: 0.125em;
      opacity: 0;
      padding-right: 0.5em;
      transition: opacity 0.1s ease-out;
    }
    &:hover & {
      &__anchor {
        opacity: 1;
        text-decoration: none;
      }
    }
  }

  p {
    line-height: 1.8em;
  }

  &-references {
    @extend .uk-section-muted;
    @extend .uk-text-meta;
    line-height: 1.5;
    padding: 5px 20px;
    position: relative;

    > .uk-icon {
      position: absolute;
      margin-top: -16px;
      top: 50%;
    }

    > ul {
      margin-left: 32px;
    }

    a {
      color: $global-link-color !important;

      &:hover,
      &:active {
        color: $global-link-hover-color !important;
      }
    }
  }

  &-footnotes {
    @extend .uk-text-meta;

    &::before {
      content: "";
      background: #e5e5e5;
      display: block;
      height: 1px;
      margin-bottom: 20px;
      width: 120px;
    }

    dt {
      float: left;
      padding-bottom: 3px;
      width: 20px;
    }

    dd {
      padding-bottom: 3px;
    }

    p {
      margin: 0;
    }
  }

  &-docs-broken-link {
    text-decoration-color: darkred;
    text-decoration-line: underline;
    text-decoration-style: wavy;

    &:hover {
      text-decoration-color: darkred;
      text-decoration-line: underline;
      text-decoration-style: wavy;
    }
  }
}
