.api {
  &-content {
    @extend .uk-padding-large;
    @extend .uk-background-muted;
    margin-left: 320px;
  }
  &-headline {
    margin-left: -0.23em;

    &__anchor {
      font-family: "OttoIconFonts";
      font-size: 0.85em;
      float: left;
      margin-left: -0.87em;
      margin-top: 0.125em;
      opacity: 0;
      padding-right: 0.23em;
      transition: opacity 0.1s ease-out;
    }
    &:hover & {
      &__anchor {
        opacity: 1;
        text-decoration: none;
      }
    }
  }
}
