.api-custom-container {
  @extend .uk-card;
  @extend .uk-card-body;
  @extend .uk-margin-medium-bottom;

  border-left: 6px solid $alert-color;
  padding: 1em 1.5em;

  &--tip {
    background-color: #f5f5f5;
    border-left: 6px solid $alert-primary-color;
  }

  &--warning {
    border-left-color: $highlight-yellow;
    background-color: lighten($highlight-yellow, 40%);
    color: darken($highlight-yellow, 20%);
  }

  &--danger {
    border-left-color: $highlight-red;
    background-color: lighten($highlight-red, 45%);
    color: darken($highlight-red, 15%);
  }

  &--details {
  }

  &--title {
    font-family: $base-heading-font-family;
    font-size: $global-medium-font-size;
  }

  p {
    //@extend .uk-margin-small;
  }
}
