.api-rule {
  font-family: $global-font-family;

  &--must {
    color: $highlight-red;
  }

  &--must-not {
    color: $highlight-red;
  }

  &--should {
    color: darken($highlight-yellow, 3%);
  }

  &--should-not {
    color: $highlight-yellow;
  }

  &--may {
    color: $highlight-green;
  }

  &--may {
    color: $highlight-green;
  }

  &__id {
    @extend .uk-label;
    font-family: $global-font-family;
    position: absolute;
    right: 0;
    top: 2px;
  }
}
