.api {
  &-sidebar {
    @extend .uk-padding-large;
    // background-color: $global-background;
    @extend .uk-section-muted;
    border-right: 1px solid #e5e5e5;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: 180px;

    &__logo {
      left: 50%;
      margin: -25px 0 20px -60px;
      position: relative;
      width: 120px;
    }

    .uk-nav-default {
      font-size: 1em;

      .uk-nav-header {
        border-bottom: 1px solid #e5e5e5;
        color: #000;
        font-size: 12px;
        letter-spacing: 1px;
      }
    }
  }

  &-main-nav {
    @extend .uk-nav;
    @extend .uk-nav-default;
  }
}
