.api {
  &-sidebar {
    @extend .uk-padding-large;
    @extend .uk-section-muted;
    border-right: 1px solid #e5e5e5;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: 180px;

    &__logo-link {
      display: block;
      margin: -35px auto 35px;
      position: relative;
      width: 120px;
    }

    .uk-nav-default {
      font-size: 1em;

      .uk-nav-header {
        border-bottom: 1px solid #e5e5e5;
        color: #000;
        font-size: 12px;
        letter-spacing: 1px;
      }

      .uk-active {
        position: relative;

        &::before {
          content: " ";
          height: 18px;
          width: 2px;
          position: absolute;
          display: block;
          background: #1e87f0;
          left: -13px;
          top: 6px;
        }
      }
    }
  }

  &-main-nav {
    @extend .uk-nav;
    @extend .uk-nav-default;
  }
}
