# unfortunatelly this only works in the context root
.git/
.github/
.circleci/

tmp/
dist/
build/
node_modules/

# these are not needed @build
presentations/
references/
docs/
guidelines/

jest.config*
Dockerfile
tools/docker/Dockerfile