<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{config.site.name}}</title>
  {{> touchicons}}
  <link rel="stylesheet" type="text/css"
    href="https://www.otto.de/assets-static/global-resources/assets.global-resources.fonts.latest.css" />
  <link rel="stylesheet" type="text/css" href="./ottoapi.ottoapi-guidelines.css.latest.css" />
  <script src="./ottoapi.ottoapi-guidelines.head.latest.js"></script>
</head>

<body>
  <div class="api-sidebar">
    <a href="/" class="api-sidebar__logo-link js_api-sidebar__logo-link">
      <img src="./api-logo-red.png" alt="OTTO API Logo red" />
    </a>
    <ul uk-nav class="api-main-nav uk-nav-parent-icon" uk-scrollspy-nav="closest: li; offset: 80; overflow: false">
      {{#with categorys}}{{> nav}}{{/with}}
    </ul>
  </div>
  <div class="api-content">
    <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky;">
      <div class="api-navbar-container">
        <nav class="uk-navbar-container uk-navbar-transparent api-navbar" uk-navbar
          style="position: relative; z-index: 980;">
          <div class="uk-navbar-right">
            <div class="uk-navbar-item api-navbar-filter-rules">
              <select class="uk-select js_api-rule-selection">
                <option value="" disabled selected hidden>Filter</option>
                <option value="">ALL RULES</option>
                <option value="must">MUST</option>
                <option value="should">SHOULD</option>
                <option value="may">MAY</option>
              </select>
            </div>
            <div class="uk-navbar-item api-navbar-filter-review-type">
              <select class="uk-select js_api-review-type-selection">
                <option value="" disabled selected hidden>Review Mode</option>
                <option value="">ALL MODES</option>
                <option value="automatic">AUTOMATIC</option>
                <option value="partial">PARTIAL</option>
                <option value="manual">MANUAL</option>
              </select>
            </div>
            <div class="uk-navbar-item api-navbar-filter-applies-to">
              <select class="uk-select js_api-applies-to-selection">
                <option value="" disabled selected hidden>Applies To</option>
                <option value="">ALL</option>
                <option value="server">SERVER</option>
                <option value="client">CLIENT</option>
              </select>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="api-container">
      {{#with categorys}}{{> data}}{{/with}}
    </div>
  </div>

  <script src="./ottoapi.ottoapi-guidelines.body.latest.js"></script>
</body>

</html>