<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{config.site.name}}</title>
  {{> touchicons}}
  <link rel="stylesheet" type="text/css"
    href="https://www.otto.de/assets-static/global-resources/assets.global-resources.fonts.latest.css" />
  <link rel="stylesheet" type="text/css" href="./ottoapi.ottoapi-guidelines.css.latest.css" />
  <script src="./ottoapi.ottoapi-guidelines.head.latest.js"></script>
</head>

<body>
  <div class="api-sidebar">
    <a href="/" class="api-sidebar__logo-link js_api-sidebar__logo-link">
      <img src="./api-logo-red.png" alt="OTTO API Logo red" />
    </a>
    <ul uk-nav class="api-main-nav uk-nav-parent-icon"
      uk-scrollspy-nav="closest: li; offset: 30; overflow: false">
      {{#with categorys}}{{> nav}}{{/with}}
    </ul>
  </div>
  <div class="api-content">
    <div class="api-container">
      {{#with categorys}}{{> data}}{{/with}}
    </div>
  </div>

  <script src="./ottoapi.ottoapi-guidelines.body.latest.js"></script>
</body>

</html>