<a href="#{{index.nav.id}}">{{name}}</a>

<ul>
    {{#each children}}
    <li class="nav-item">
        {{#if children}}<span class="indicator">></span>{{/if}}
        {{#if docs}}<span class="indicator">></span>{{/if}}
        {{> child_nav}}
    </li>
    {{/each}}
    {{#each docs}}
    <li>{{> docs_nav}}</li>
    {{/each}}
</ul>