<div class="api-item api-docs-level-{{index.level}}">
    <div class="api-docs-index">{{{index.output}}}</div>

    {{#each docs}}
    <div class="api-docs">{{{output}}}</div>
    {{/each}}

    {{#each children}}{{> data}}{{/each}}
</div>