<div class="api-docs-index">
    {{{output}}}
    {{{index.output}}}
</div>


{{#each docs}}
    <div class="api-docs">{{> data}}</div>
{{/each}}

{{#each children}}
    <div class="api-item">{{> data}}</div>
{{/each}}
