// 1. Your custom variables and variable overwrites.
//$global-link-color: #DA7D02;

// 2. Import default variables and available mixins.
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
//@mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";

.rule-type-must {
  color: red;
}

.rule-type-must-not {
  color: brown;
}

.rule-type-should {
  color: orange;
}

.rule-type-should-not {
  color: darken($color: yellow, $amount: 20);
}

.uk-nav .uk-nav-header > a {
  color: gray;
}

.ottoapi-block {
  padding: 8px;
  &.tip {
    @extend .uk-alert-primary;
  }
  .title {
    @extend .uk-text-lead;
  }
}
